.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

body {
  line-height: 1.5;
}

@include no-scroll-bar();

h1,
.h1 {
  font-size: 5rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  letter-spacing: 0.38rem;

  small {
    font-size: 2rem;
    font-weight: 200;
    color: #000;
  }
}

span {
  text-transform: uppercase;
  letter-spacing: 0.38rem;
}

p {
  line-height: 2.5rem;
  font-size: 1.5rem;
}
