$navbar-default-bg: #fff;
$navbar-height: 52px;
$body-bg: #f3f3f5;
$navbar-default-border: #dedfe0;
$font-family-base: "Roboto", "Helvetica", "Arial", "sans-serif";

/* badge */
$badge-color: #000;
$badge-bg: transparent;
$badge-font-weight: 200;

/* Global textual link color */
$link-color: #000;
